$color-primary: #00d1b2;
$color-primary-dark: darken(#00d1b2, 10%);
$color-menu: #eee;
$color-menu-divider: darken(#eee, 10%);
$color-menu-disabled: darken(#eee, 5%);
$color-menu-active: darken(#eee, 15%);
